<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pierre's Tasties</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PierresTasties.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg+xml" href="/bread.svg">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Pierre's Tasties</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 site-nav">
                        <li class="nav-item">
                            <a class="btn btn-link nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link nav-link text-dark" asp-controller="Flavors" asp-action="Index">Flavor List</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link nav-link text-dark" asp-controller="Treats" asp-action="Index">Treat List</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 user-nav">
                        @if (User.Identity.IsAuthenticated) 
                        {
                            var email = User.FindFirstValue(ClaimTypes.Email);
                            <li class="nav-item">
                                <a class="nav-link text-dark">@email || </a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="LogOff" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-link nav-link text-dark">Log Out</button>
                                </form>
                            </li>
                        } 
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Account" asp-action="Register">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
    @* <footer class="border-top footer text-muted"> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 site-nav">
                        <li class="nav-item">
                            <p>
                                &copy; 2023 - Pierre's Tasties - Designed by 
                                <a href="https://www.linkedin.com/in/austinpapritz">Austin Papritz</a>
                            </p>
                        </li>
                    </ul>
                    <ul class="navbar-nav footer-nav">
                        @if(ViewBag.isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">Admin Navigation || </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Flavors" asp-action="Create">New Flavor</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Treats" asp-action="Create">New Treat</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
