@{
    ViewData["Title"] = $"{@Model.Name} Details";
}

<h1>
    Details for @Model.Name
    @if ((bool)ViewData["IsAdmin"])
    {
        <a href="/treats/edit/@Model.TreatId">✏️</a>
        <a href="#" data-id="@Model.TreatId" data-url="/treats/delete/@Model.TreatId" class="delete-link">❌</a>
    }
</h1>

