@{
    // FLAVOR DETAIL PAGE
    ViewData["Title"] = $"{@Model.Name} Details";  
}

<h1>
    @Model.Name Treats
    
    @* Only display these if user is an admin *@
    @if (ViewBag.isAdmin)
    {
        <a href="/flavors/edit/@Model.FlavorId">✏️</a>
        <a href="#" data-id="@Model.FlavorId" data-url="/flavors/delete/@Model.FlavorId" class="delete-link">❌</a>
    }
</h1>

<ul>
    @foreach(FlavorTreat flavorTreat in Model.FlavorTreats)
    {
        <li>
            <a href="/treats/details/@flavorTreat.Treat.TreatId">
                @flavorTreat.Treat.Name
            </a>
        </li>
    }
</ul>
