@{
    // FLAVOR DETAIL PAGE
    ViewData["Title"] = $"{@Model.Name} Details";  
}

<h1>
    Details for @Model.Name
    
    @* Only display these if user is an admin *@
    @if ((bool)ViewData["IsAdmin"])
    {
        <a href="/flavors/edit/@Model.FlavorId">✏️</a>
        <a href="#" data-id="@Model.FlavorId" data-url="/flavors/delete/@Model.FlavorId" class="delete-link">❌</a>
    }
</h1>


