html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group .btn {
  margin-top: 5px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
}

.flavor-btn-container {
  display: flex;
}

.Sweet {
  background: rgb(234, 152, 166);
}

.Sharp {
  background: rgb(255, 234, 8);
}

.Savory {
  background: rgb(125, 99, 66);
}

.Creamy {
  background: rgb(240, 130, 90);
}

.Spicy {
  background: rgb(211, 35, 35);
}

.flavor-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover {
  color: white;
  opacity: 55%;
  border-color: rgb(65, 65, 65);
}